.container{
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
    /*margin-right: (100%)/4;*/
 }
 .microphone-result-text{
     color: white;
 }
 .microphone-icon-container{
    cursor: pointer;
}
.mymic {
    border-radius: 50%;
    cursor: pointer;
    background-color: aqua;
}
.microphone-wrapper{
    justify-content: center;
    width: 100%;
}
#row {
    justify-content: center;
}
.MuiInputBase-input {
    color: white;        
}
